<%= form_with model: @ride, local: true do |form| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>
      <ul>
        <% @ride.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :origin %>
    <%= form.select :origin, ["MPP", "MILA", "Parkline", "73 East", "Harper", "Gleacher"], {}, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.select :destination, ["MPP", "MILA", "Parkline", "73 East", "Harper", "Gleacher"], {}, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :departure_time %>
    <%= form.datetime_select :departure_time, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :available_seats %>
    <%= form.number_field :available_seats, class: "form-control", min: 1, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control", step: 0.01, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Upload Image" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-control", placeholder: "Pickup point, luggage info, etc." %>
  </div>

  <%= form.submit "Post Ride", class: "btn btn-primary mt-3" %>
<% end %>
