<h1>Shared Rides</h1>

<% if user_signed_in? %>
  <%= link_to "Post a new ride", new_ride_path %>
<% else %>
  <p><em>Sign in to post a ride.</em></p>
<% end %>

<ul>
  <% @rides.each do |ride| %>
    <li>
      <strong><%= ride.origin %> → <%= ride.destination %></strong><br>
      Departure: <%= ride.departure_time.strftime("%A %d %b, %I:%M %p") %><br>
      Seats: <%= ride.available_seats %><br>
      <%= link_to "View", ride_path(ride) %>
    </li>
  <% end %>
</ul>
